div#header {
	background-color: #332C2F;
	color: #FFFFFF;
	height: 80px;
	text-align: center;
}
div#left-column {
	background-color: #D4D8D1;
	height: 100%;
	min-height: 400px;	
	width: 13%;
	float: left;
}
div#right-column {
	background-color: #D4D8D1;
	height: 100%;
	min-height: 400px;	
	width: 13%;
	float: right;
}
div#central-block {
	background-color: #A8A8A1;
	color: #FFFFFF;	
	height: 100%;
	min-height: 400px;	
	width: 74%;
	float: left;
}
div#footer {
	background-color: #332C2F;
	clear: both;
	text-align: center;
	height: 50px;
	width: 100%;
}
div#mainbody {
	min-height: 400px;
}
